In [2]:
import pandas as pd
import numpy as np

In [3]:
data1 = {'cities' : ['lahore','karachi',], 'provinces' : ['punjab','sindh']}
data2 = {"cities": ["islamabad","karachi","peshawar","quetta"],"provinces": ["capital","sindh", "KPK","Balochistan"]}

In [4]:
frame1 = pd.DataFrame(data1)
frame2 = pd.DataFrame(data2)

print(frame1.head(),'\n\n')
print(frame2.head())

    cities provinces
0   lahore    punjab
1  karachi     sindh


      cities    provinces
0  islamabad      capital
1    karachi        sindh
2   peshawar          KPK
3     quetta  Balochistan

In [5]:
frame3 = pd.concat([frame1,frame2])
frame3.drop_duplicates(inplace=True)
frame3.sort_values(by='provinces',inplace=True)
frame3.reset_index(inplace=True,drop=True)
print(frame3)

      cities    provinces
0     quetta  Balochistan
1   peshawar          KPK
2  islamabad      capital
3     lahore       punjab
4    karachi        sindh

In [20]:
data3 = {
    "Name":[ np.nan ,'Ali','Ahmed','Nida', np.nan ],
    "Field":['C','E','E','C','C'],
    "Age":[np.nan, np.nan , np.nan , np.nan , np.nan ],
    "Marks":[-90,60,-10,70,75]
}
frame4 = pd.DataFrame(data3)
del frame4['Age']
frame4.replace(np.nan, '---',inplace=True)
frame4.replace({"C": 0 , "E":1},inplace=True)
frame4['Marks'] = frame4['Marks'].where(frame4['Marks'] >=0) 
frame4.fillna(frame4['Marks'].mean(),inplace=True)
print(frame4)

    Name  Field      Marks
0    ---      0  68.333333
1    Ali      1  60.000000
2  Ahmed      1  68.333333
3   Nida      0  70.000000
4    ---      0  75.000000